



.titler{
  color:white; font-size:4.3vmax;
  padding-top:6%; padding-bottom:1%;
}

#quote{
  color:white;   font-size:4.2vmin;
  padding:4px;
}

#author{
  color:white;  font-size:3.0vmin;
}
#NewQuote{
  color:white;
}

#NewQuote:hover, #NewQuote:visited{ 
  color:orange ;
}

body{
  background:url('http://i1243.photobucket.com/albums/gg557/vperr007/chile-1477188_zpsqnv6e3ei.jpg');
  overflow:hidden;
  background-repeat:no-repeat;
  background-size:100% 100%;
  height:100vh; 
  position:relative;
  font-family:Times New Roman;
}

button{
  margin-top:15px;
  border:1px black solid;
  background-color:rgba(0,0,0,0.6);
  color:white;
}


    <script src="//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-58d22c749295bca52f487966e382a94a495ac103faca9206cbd160bdf8aedf2a.js"></script>

  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
<script src='http://quotesondesign.com/api/3.0/api-3.0.json'></script>
<script src='http://quotesondesign.com/api/3.0/api-3.0.json?callback=my_function'></script>

    $(document).ready(function () {
    var quote;
    var author;
    function getNewQuote() {
        $.ajax({
            url: 'http://api.forismatic.com/api/1.0/?method=getQuote&format=jsonp&lang=en',
            jsonp: 'jsonp',
            dataType: 'jsonp',
            success: function (response) {
                quote = response.quoteText;
                author = response.quoteAuthor;
                $('#quote').text(quote);
                if (author) {
                    $('#author').text('- ' + author);
                } else {
                    $('#author').text('- Who knows');
                }
            }
        });
    }
    getNewQuote();
    $('.getquote').on('click', function () {
        getNewQuote();
    });
    $('.tweet-it').on('click', function () {
        event.preventDefault();
        window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(quote + '- ' + author));
    });
    $('.tumblr-it').on('click', function () {
        event.preventDefault();
        window.open('https://www.tumblr.com/share/tools?' + encodeURIComponent(quote + '- ' + author));
    });
});
  //# sourceURL=pen.js
 
 